[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
	ff = true
[http]
	sslVerify = true
[diff]
    tool = nvimdiff
    guitool = nvimdiff
[difftool]
    prompt = true
[merge]
    tool = nvimdiff
	conflictstyle = diff3
	ff = false
[mergetool]
    keepBackup = false
    trustExitCode = false
    prompt = true
[mergetool "nvimdiff"]
	layout = LOCAL,MERGED,REMOTE
[alias]
	graph = log --oneline --graph --decorate --branches
	update = !git add -A && git commit && git push
[gpg]
	format = ssh
[commit]
	gpgsign = true
