[user]
	email = oran.mcnair@gmail.com
	name = Oran Ellis
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = false
[http]
	sslVerify = true
[diff]
    tool = nvimdiff
    guitool = nvimdiff
[difftool]
    prompt = true
[merge]
    tool = nvimdiff
	conflictstyle = diff3
	ff = no
[mergetool]
    keepBackup = false
    trustExitCode = false
    prompt = true
[mergetool "nvimdiff"]
	layout = LOCAL,MERGED,REMOTE
[alias]
	graph = log --oneline --graph --decorate --branches
	update = !git add -A && git commit
[gpg]
	format = ssh
[commit]
	gpgsign = true
